.container {
    min-width: 100px;
    max-width: 150px;
    border-radius: 10px;
    text-align: center;
    transition: all .2s ease;
}

.container h1 {
    font-size: 1em;
}

.imagemProjeto {
    width: 100%;
    text-align: center;
    
}

.container:hover {
    transform: scale(1.2);
}