.container {
    max-width: 200px;
    border-radius: 10px;
    text-align: center;
    transition: all .2s ease;
}

.imagemProjeto {
    width: 100%;
    text-align: center;
    
}

.container:hover {
    transform: scale(1.2);
}