.containerBoasVindas {
    width: 50%;   
}

.paragrafoBoasVindas {
    position: relative;
    top: 5em;
    font-size: .8rem;
    text-wrap: nowrap;
    margin: 20px 0;
    border-radius: 20px;
    background-color: #8D8981;
    padding: 15px;
    max-width: 307px;
    transition-delay: 2s;
}

.imagemBoasVindas {
    width: 20em;
    height: 20em;
    border-radius: 100%;
    background-color: aliceblue;
    box-shadow: 5px 6px 8px 0px black;
}

@media screen and (max-width: 768px){
    .paragrafoBoasVindas {
        justify-self: center;
        position: static;
    }

    .imagemBoasVindas {
        order: -1;
        margin-bottom: 15px; 
    }
}