.containerTitulo {
    display: flex;
    justify-content: space-around;
    gap: 4em;
    max-width: 768px;
}

.containerTecnologia {
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
}

.subTituloTecnologias {
    grid-column: 1 / -1;
    text-align: center;
}

.listaFormacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listaFormacao h2 {
    align-self: flex-start;
    padding: 10px 0;
}

.listaFormacao li {
    color: #c2c2c2;
}

.listaTecnologia {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 2em;
    justify-self: center;
    list-style-type: none;
    justify-content: center;
}